@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #344767;
  font-size: 14px;
  background: #f0f2f5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.bg-gradient-dark {
  background-image: linear-gradient(195deg, #42424a, #191919);
}

.collapsible {
  transition: all 0.3s ease-out;
}

.wheather-card {
  padding: 20px;
  position: absolute;
  bottom: 10%;
  width: 100%;

}

/* Add these styles to your existing styles or create a new stylesheet */
/* Add these styles to your existing styles or create a new stylesheet */
.image {
  width: 100%;
  max-width: 100%;
  /* Ensure the  doesn't exceed its container */
  top: 10%;
  transform: translateY(-10%);
  object-fit: cover;
  object-position: center bottom;
  margin-top: -10px;
}

.legend {
  width: 20px;
  height: 20px;
  border-radius: 25%;
}

/* turn this to work for the muiswitch */
.checked-switch .MuiSwitch-track {
  background-color: gray;
}

.checked-switch .MuiSwitch-thumb {
  background-color: #fff;
  border: 1px solid #42424a;
}

.checked-switch .MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track {
  background-color: #000;
}

/* make the muitabs smaller */
.MuiTabs-root {
  min-height: 0;
  min-width: 0;
  padding: 0;
  overflow: visible;
}



.bg-gradient-success {
  background-image: linear-gradient(195deg, #66bb6a, #43a047);
}

.bg-gradient-primary {
  background-image: linear-gradient(195deg, #ec407a, #d81b60);
}

.bg-gradient-info {
  background-image: linear-gradient(195deg, #49a3f1, #1a73e8);
}

.image-container:hover .buttons-container {
  opacity: 1;
}

.car-image {
  position: absolute;
  width: 70%;
  max-width: 100%;
  left: 18%;
  top: 15%;
  transform: translateY(-40%);
  object-fit: cover;
  object-position: center top;
  z-index: 1;
}

.discover-image {
  background-image: url("./assets/images/mountains.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
  position: relative;
  border-radius: 0.75rem;
}

.discover-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(195deg, #ec407a, #d81b60);
  opacity: 0.6;
  border-radius: 0.75rem;
}

.add-Story {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  box-shadow: 0 .3125rem .625rem 0 rgba(0, 0, 0, .12) !important;
}

.btn {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 0.5;
  letter-spacing: 0.2px;
  border-radius: 0.5rem;
  padding: 1rem 1.2rem;
}

.btn-bg-gradient-primary {
  box-shadow: 0 3px 3px 0 rgba(233, 30, 99, .15), 0 3px 1px -2px rgba(233, 30, 99, .2), 0 1px 5px 0 rgba(233, 30, 99, .15);
}

.btn-bg-gradient-primary:hover {
  box-shadow: 0 14px 26px -12px rgba(233, 30, 99, .42), 0 4px 23px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(233, 30, 99, .2);
}

.btn-bg-gradient-Dark {
  box-shadow: 0 3px 3px 0 rgba(52, 71, 103, .15), 0 3px 1px -2px rgba(52, 71, 103, .2), 0 1px 5px 0 rgba(52, 71, 103, .15);
}

.btn-bg-gradient-Dark:hover {
  box-shadow: 0 14px 26px -12px rgba(52, 71, 103, .42), 0 4px 23px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(52, 71, 103, .2);
}

.sidebar {
  width: 60px;
  transition: width 0.5s;
}

.sidebar:hover {
  width: 240px;
}