@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #344767;
  font-size: 14px;
  background: #f0f2f5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.bg-gradient-dark {
  background-image: linear-gradient(195deg, #42424a, #191919);
}

.collapsible {
  transition: all 0.3s ease-out;
}

.wheather-card {
  padding: 20px;
  position: absolute;
  bottom: 10%;
  width: 100%;

}

/* Add these styles to your existing styles or create a new stylesheet */
/* Add these styles to your existing styles or create a new stylesheet */
.image {
  width: 100%;
  max-width: 100%;
  /* Ensure the  doesn't exceed its container */
  top: 10%;
  transform: translateY(-10%);
  object-fit: cover;
  object-position: center bottom;
}

.legend {
  width: 20px;
  height: 20px;
  border-radius: 25%;
}

/* turn this to work for the muiswitch */
.checked-switch .MuiSwitch-track {
  background-color: gray;
}

.checked-switch .MuiSwitch-thumb {
  background-color: #fff;
  border: 1px solid #42424a;
}

.checked-switch .MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track {
  background-color: #000;
}

/* make the muitabs smaller */
.MuiTabs-root {
  min-height: 0;
  min-width: 0;
  padding: 0;
  overflow: visible;
}
/* make the muitab smaller height */

.card-badge{
  position: absolute;
  top: 10%;
  left: 0;
  margin:0 15px;
  padding: 20px;
  border-radius: 25%;
  box-shadow: 0 0 0 2px #fff;
  transform: translateY(-40%);
}
.bg-gradient-success{
  background-image: linear-gradient(195deg,#66bb6a,#43a047);
}



  